RewriteEngine On
RewriteBase /

# 1. Direct Static Files & Uploads handling for maximum speed
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# 2. Route all other requests to index.php proxy
RewriteRule ^ index.php [QSA,L]
